<%= link_to  %>
<h1>Here are the latest artciles</h1>
<ul>
  <% @articles.each do |a| %>
    <li><%= link_to a.title, article_path(a)%></li>
  <% end %>
</ul>

<%= link_to "Create a new article", new_article_path %>
